.screenshot-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;

  h1 {
    display: inline-block;
    margin: 0;
    width: auto;
  }
}

.screenshot {
  position: relative;
  padding: 0;

  button {
    $position: -10px;

    position: absolute;
    top: $position;
    right: $position;
  }
}
